<div class="flex">
  <app-sidebar [menuItem]=""></app-sidebar>
  <div class="w-4/5 flex items-center justify-center">
    <h1 class="text-5xl font-medium m-10 text-center">
      Welcome
    </h1>
    <h2>The world offers many tourist attractions that are worth exploring. With the Guideman app, all
      adventurers can get a glimpse into the past history of various sights with the help of an educated guide. Simply
      book your Guideman for a specific trip and hooray for exploring.</h2>
  </div>
</div>
